// swift-tools-version:5.1

import PackageDescription

let package = Package(
    name: "{{projectName}}",
    platforms: [
        {{#useVapor}}
        .macOS(.v10_15),
        {{/useVapor}}
        {{^useVapor}}
        {{#useAlamofire}}
        .iOS(.v10),
        .macOS(.v10_12),
        .tvOS(.v10),
        {{/useAlamofire}}
        {{^useAlamofire}}
        .iOS(.v13),
        .macOS(.v10_15)
        {{/useAlamofire}}
        {{/useVapor}}
    ],
    products: [
        .library(
            name: "{{projectName}}",
            targets: ["{{projectName}}"]
        ),
    ],
    dependencies: [
        {{#useAlamofire}}
        .package(url: "https://github.com/Alamofire/Alamofire", .upToNextMajor(from: "5.4.3")),
        {{/useAlamofire}}
        {{#usePromiseKit}}
        .package(url: "https://github.com/mxcl/PromiseKit", .upToNextMajor(from: "6.15.3")),
        {{/usePromiseKit}}
        {{#useRxSwift}}
        .package(url: "https://github.com/ReactiveX/RxSwift", .upToNextMajor(from: "6.2.0")),
        {{/useRxSwift}}
        {{#useVapor}}	
        .package(url: "https://github.com/vapor/vapor", from: "4.0.0")
        {{/useVapor}}
	    .package(url: "https://github.com/openid/AppAuth-iOS.git", from: "1.6.2")
    ],
    targets: [
        .target(
            name: "{{projectName}}",
            dependencies: [
		        .product(name: "AppAuth", package: "AppAuth-iOS")
		 {{#useVapor}}"Vapor", {{/useVapor}}{{#useAlamofire}}"Alamofire", {{/useAlamofire}}{{#usePromiseKit}}"PromiseKit", {{/usePromiseKit}}{{#useRxSwift}}"RxSwift"{{/useRxSwift}}],
            path: "Sources/{{projectName}}/"
        )
    ],
    swiftLanguageVersions: [.v5]
)
