Pod::Spec.new do |s|
  s.name = '{{projectName}}'{{#projectDescription}}
  s.summary = '{{.}}'{{/projectDescription}}
  {{#useAlamofire}}
  s.ios.deployment_target = '10.0'
  s.osx.deployment_target = '10.12'
  s.tvos.deployment_target = '10.0'
  {{/useAlamofire}}
  {{^useAlamofire}}
  s.ios.deployment_target = '13.0'
  {{/useAlamofire}}
  s.version = '1.2.0'
  s.swift_version = '5.0.0'
  s.source = {{#podSource}}{{& podSource}}{{/podSource}}{{^podSource}}{ :git => 'https://github.com/kinde-oss/kinde-sdk-ios.git', :tag => s.version.to_s }{{/podSource}}
  {{#podAuthors}}
  s.authors = { 'Kinde' => 'engineering@kinde.com' }
  {{/podAuthors}}
  {{#podSocialMediaURL}}
  s.social_media_url = '{{.}}'
  {{/podSocialMediaURL}}
  s.license = { :type => 'MIT', :file => 'LICENSE' }
  s.homepage = '{{podHomepage}}{{^podHomepage}}https://github.com/kinde-oss/kinde-sdk-ios{{/podHomepage}}'
  s.summary = '{{podSummary}}{{^podSummary}}Kinde SDK for Swift iOS.{{/podSummary}}'
  {{#podDescription}}
  s.description = 'Kinde SDK for authentication on iOS.'
  {{/podDescription}}
  {{#podScreenshots}}
  s.screenshots = {{& podScreenshots}}
  {{/podScreenshots}}
  {{#podDocumentationURL}}
  s.documentation_url = '{{.}}'
  {{/podDocumentationURL}}
  s.source_files = 'Sources/{{projectName}}/**/*'
  {{#useAlamofire}}
  s.dependency 'Alamofire', '~> 5.4'
  {{/useAlamofire}}
  {{#usePromiseKit}}
  s.dependency 'PromiseKit/CorePromise', '~> 6.15'
  {{/usePromiseKit}}
  {{#useRxSwift}}
  s.dependency 'RxSwift', '~> 6.2'
  {{/useRxSwift}}
  s.preserve_paths = ['Sources/{{projectName}}/README.md', 'Sources/docs/*.md']
  s.dependency 'AppAuth', '>= 1.6.2'
end